:root {
    --background: #67537A;
    --rodape: #867198;
    --cabecalho: #C2B6D6;
    --textColor: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--textColor);
}

#cabecalho {
    background-color: var(--cabecalho);
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

#aboutme {
    padding: 50px;
    display: inline-flex;
    align-items: center;
}

#aboutme div {
    text-align: center;
}