
#name{
    font-size: 20px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
}
nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
#main {
    max-width: 960px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto 100px auto;
    gap: 30px;
}
#titles {
    display: inline-block;
}
p{
    font: normal lighter 22px 'sans serif';
}
#aboutme{
    padding: 5%;
    flex-direction: row;
    align-items: center;
}
#sectionaboutme{
    display: flex;
    flex-direction: row;
}
#photo-perfil{
    width: 35%;
    height: 60%;
    border-radius: 50%;
    display: inline-flex;
    vertical-align: top;
    padding: 5%;
}
#skills{
    background-color: antiquewhite;
    height: 200px;
    width: auto;
    border-radius: 12px;
}
#skills > h2{
    text-align: center;
    padding: 12px;
}
#iconSkills{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#secProjects{
    background-color: aqua;
    height: 450px;
    width: auto;
    padding: 15px; 
    margin-top: 40px;
    border-radius: 12px;
    justify-content: center;
}
#secProjects > h2 {
    text-align: center;
}
#divProjects{
    background-color: brown;
    height: 300px;
    width: auto;
    padding: 12px;
    display: flex;
    border-radius: 12px;
}
#divProjects > p {
    max-width: auto;
    padding: 15px;
    text-align: center;
}
footer{
    text-align: center;
}