:root {
    --background: #67537A;
    --rodape: #867198;
    --cabecalho: #493758;
    --textColor: #ffffff;
}

#cabecalho {
    background-color: var(--cabecalho);
}

body {
    background-color: var(--background);
    color: var(--textColor);
}

h1 {
    font-size: 45px;
    padding: 25px;
}

h2 {
    font-size: 40px;
    padding: 35px;
    text-align: center;
}

p {
    font-size: 30px;
}

.navbar-light .navbar-brand {
    color: var(--textColor);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--textColor);
}