#cabecalho {
    background-color: var(--cabecalho);
}

#aboutme p {
    text-align: center;
    font-size: 30px;
    padding: 45px;
}

#sobreMim {
    padding: 50px;
    display: inline-flex;
    align-items: center;
}

#sobreMim div {
    padding: 4%;
    text-align: center;
}

.square {
    width: 300px;
    height: 200px;
}

#squares {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    margin: 80px;
}

#contatodiv {
    height: 200px;
    width: 40%;
    margin: auto;
    outline: 1px solid #2c1236;
    text-align: left;
}

#contatodiv div {
    padding: 15px;
}